<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/MainMenu.css">
</head>
<body>
    <a asp-action="Insideproductmenu">
        <Inside>
            <img class = "houseicon" src="~/img/houseicon.png"/>
        </Inside>
    </a>
    <a href = "/OutsideMenu">
        <Outside>
            <img class = "treeicon" src="~/img/treesicon.png"/>
        </Outside>
    </a>
    <p><span class="text">Binnenproducten</span></p>
    <p><span class="text1">Buitenproducten</span></p>
</body>
</html>
