@page
@model WebApplication2.Pages.Forms.InsideproductmenuModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/InsideMenu.css">
</head>
<body>
    <a asp-action="Index">
        <Back>
            <!--<img class = "backarrow" src="~/img/backarrow.png"/> -->
            <p><span class="text1">Terug</span></p>
        </Back>
    </a>

    <Kitchen>
        <img class = "kitchenicon" src="~/img/kitchenicon.png"/>
        <p><span class="text2">Keuken</span></p>
    </Kitchen>
    <Bathroom>
        <img class = "bathroomicon" src="~/img/bathroomicon.png"/>
        <p><span class="text3">Badkamer</span></p>
    </Bathroom>
    <Livingroom>
        <img class = "livingicon" src="~/img/livingroomicon.png"/> 
        <p><span class="text4">Huiskamer</span></p>
    </Livingroom>
    <Bedroom>
        <img class = "bedroomicon" src="~/img/bedroomicon.png"/> 
        <p><span class="text5">Slaapkamer</span></p>
    </Bedroom>
    <Health>
        <img class = "healthicon" src="~/img/healthicon.png"/> 
        <p><span class="text6">Gezondheid</span></p>
    </Health>
</body>
</html>
