@page
@model WebApplication2.Pages.OutsideMenuModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/Outsidemenu.css">
</head>
<body>
     <a href = "/Index">
        <Back>
            <img class = "backarrow" src="~/img/backarrow.png"/> 
            <p><span class="text1">Terug</span></p>
        </Back>
    </a>
    <GPS>
        <img class = "gpsicon" src="~/img/gpsicon.png"/> 
        <p><span class="text2">GPS</span></p>
    </GPS>
   
       <!--<o></>
    <b></b>
    <c></c>
    <v></v>--> 

</body>
</html>