.Back {
    width: 212px;
    height: 200px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    top: 5%;
    left: 5%;
    border: solid;
    border-color: black;
    background-image: url("/img/backarrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 125px;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    color: black;
    line-height: 350px;
    text-align: center;
    text-decoration: none;
}

.contact {
    position: fixed;
    bottom: 70%;
    left: 40%;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
}

.Telefoonnummer {
    position: fixed;
    bottom: 60%;
    left: 40%;
    display: block;
    width: 400px;
    height: 75px;
    resize: none;
    padding: 20px;
    font-size: x-large;
}

.Naam {
    position: fixed;
    bottom: 60%;
    left: 15%;
    display: block;
    width: 400px;
    height: 75px;
    resize: none;
    padding: 20px;
    font-size: x-large;
} 

.textarea {
    position: fixed;
    bottom: 3%;
    left: 9%;
    display: block;
    width: 1600px;
    height: 500px;
    resize: none;
    padding: 20px;
    font-size: xx-large;
}

.textarea::placeholder {
    text-align: center
}

.verstuurknop {
    width: 400px;
    height: 75px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 60%;
    left: 65%;
    font-size: xx-large;
}

.verstuurknop:hover {
    color: white;
}

.Back:hover {
    color: white;
    transition: 0.7s;
    background-image: url("/img/wbackarrow.png");
}

.sollogo{
    width: 212px;
    height: 200px;
    position: fixed;
    right: 5%;
    top: 5%;
    border: solid;
}