.title {
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    color: black;
    display: flex;
    justify-content: center;
}

.Back {
    width: 300px;
    height: 330px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 50%;
    left: 10%;
    border: solid;
    border-color: black;
    background-image: url("/img/backarrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 180px;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    color: black;
    line-height: 560px;
    text-align: center;
    text-decoration: none;
}

.Mindfulness {
    width: 300px;
    height: 330px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 50%;
    left: 40%;
    border: solid;
    border-color: black;
    background-image: url("/img/mindfulness.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 280px;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    color: black;
    line-height: 560px;
    text-align: center;
    text-decoration: none;
}

.MedApp {
    width: 300px;
    height: 330px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 50%;
    left: 70%;
    border: solid;
    border-color: black;
    background-image: url("/img/medapp.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    color: black;
    line-height: 560px;
    text-align: center;
    text-decoration: none;
}

.Wandel {
    width: 300px;
    height: 330px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 5%;
    left: 10%;
    border: solid;
    border-color: black;
    background-image: url("/img/wandelen.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    color: black;
    line-height: 560px;
    text-align: center;
    text-decoration: none;
}

.Brein {
    width: 300px;
    height: 330px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 5%;
    left: 40%;
    border: solid;
    border-color: black;
    background-image: url("/img/brein.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    color: black;
    line-height: 560px;
    text-align: center;
    text-decoration: none;
}

.Eetmeter {
    width: 300px;
    height: 330px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 5%;
    left: 70%;
    border: solid;
    border-color: black;
    background-image: url("/img/eetmeter.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    color: black;
    line-height: 560px;
    text-align: center;
    text-decoration: none;
}
/*all the hovers*/
.Back:hover {
    color: white;
    transition: 0.7s;
    background-image: url("/img/wbackarrow.png");
}

.Mindfulness:hover {
    color: white;
    transition: 0.7s;
    background-image: url("/img/wmindfulness.png");
}

.MedApp:hover {
    color: white;
    transition: 0.7s;
    background-image: url("/img/wmedapp.png");
}

.Wandel:hover {
    color: white;
    transition: 0.7s;
    background-image: url("/img/wwandelen.png");
}

.Brein:hover {
    color: white;
    transition: 0.7s;
    background-image: url("/img/wbrein.png");
}

.Eetmeter:hover {
    color: white;
    transition: 0.7s;
    background-image: url("/img/weetmeter.png");
}

div {
    width: 250px;
    height: 280px;
}
