
.Back {
    width: 212px;
    height: 225px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 50%;
    left: 10%;
    border: solid;
    border-color: black;
    background-image: url("/img/backarrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 175px;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    color: black;
    line-height: 380px;
    text-align: center;
    text-decoration: none;
}

.Kitchen {
    width: 212px;
    height: 225px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 50%;
    left: 40%;
    border: solid;
    border-color: black;
    background-image: url("/img/kitchenicon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 175px;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    color: black;
    line-height: 380px;
    text-align: center;
    text-decoration: none;
}

.Bathroom {
    width: 212px;
    height: 225px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 50%;
    left: 70%;
    border: solid;
    border-color: black;
    background-image: url("/img/bathroomicon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    color: black;
    line-height: 380px;
    text-align: center;

}

.Livingroom {
    width: 212px;
    height: 225px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 5%;
    left: 10%;
    border: solid;
    border-color: black;
    background-image: url("/img/livingroomicon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 125px;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    color: black;
    line-height: 380px;
    text-align: center;
}

.Bedroom {
    width: 212px;
    height: 225px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 5%;
    left: 40%;
    border: solid;
    border-color: black;
    background-image: url("/img/bedroomicon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    color: black;
    line-height: 380px;
    text-align: center;
}

.Health {
    width: 212px;
    height: 225px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 5%;
    left: 70%;
    border: solid;
    border-color: black;
    background-image: url("/img/healthicon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 125px;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    color: black;
    line-height: 380px;
    text-align: center;
}

.Back:link {
    text-decoration: none;
}

.Kitchen:link {
    text-decoration: none;
}

.Bathroom:link {
    text-decoration: none;
}

.Livingroom:link {
    text-decoration: none;
}

.Bedroom:link {
    text-decoration: none;
}

.Health:link {
    text-decoration: none;
}

.Back:hover {
    opacity: 0.7;
    transition: 0.7s;
}

.Kitchen:hover {
    opacity: 0.7;
    transition: 0.7s;
}

.Bathroom:hover {
    opacity: 0.7;
    transition: 0.7s;
}

.Livingroom:hover {
    opacity: 0.7;
    transition: 0.7s;
}

.Bedroom:hover {
    opacity: 0.7;
    transition: 0.7s;
}

.Health:hover {
    opacity: 0.7;
    transition: 0.7s;
}
