Back {
    width: 212px;
    height: 225px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 50%;
    left: 10%;
    border: solid;
    border-color: black;
    background-image: url("/img/backarrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 175px;
}

Kitchen {
    width: 212px;
    height: 225px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 50%;
    left: 40%;
    border: solid;
}

Bathroom {
    width: 212px;
    height: 225px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 50%;
    left: 70%;
    border: solid;
}

Livingroom {
    width: 212px;
    height: 225px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 5%;
    left: 10%;
    border: solid;
}

Bedroom {
    width: 212px;
    height: 225px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 5%;
    left: 40%;
    border: solid;
}

Health {
    width: 212px;
    height: 225px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 5%;
    left: 70%;
    border: solid;
}

.backarrow {
    width: 175px;
    position: absolute;
    left: 5%;
    top: 15%;
}

.kitchenicon {
    width: 175px;
    position: absolute;
    left: 7%;
    top: 0.01%;
}

.bathroomicon {
    width: 125px;
    position: absolute;
    left: 20%;
    top: 10%;
}

.bedroomicon {
    width: 150px;
    position: absolute;
    left: 14%;
    top: 15%;
}

.livingicon {
    width: 150px;
    position: absolute;
    left: 12%;
    top: 5%;
}

.healthicon {
    width: 125px;
    position: absolute;
    left: 20%;
    top: 15%;
}

span.text1 {
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    position: absolute;
    left: 32%;
    bottom: 2.5%;
    color: black;
}

span.text2 {
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    position: absolute;
    left: 27%;
    bottom: 2.5%;
}

span.text3 {
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    position: absolute;
    left: 19%;
    bottom: 2.5%;
}

span.text4 {
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    position: absolute;
    left: 16%;
    bottom: 2.5%;
}

span.text5 {
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    position: absolute;
    left: 15%;
    bottom: 2.5%;
}

span.text6 {
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    position: absolute;
    left: 14%;
    bottom: 2.5%;
}

Back:hover {
    opacity: 0.7;
    transition: 0.7s;
}

Kitchen:hover {
    opacity: 0.7;
    transition: 0.7s;
}

Bathroom:hover {
    opacity: 0.7;
    transition: 0.7s;
}

Livingroom:hover {
    opacity: 0.7;
    transition: 0.7s;
}

Bedroom:hover {
    opacity: 0.7;
    transition: 0.7s;
}

Health:hover {
    opacity: 0.7;
    transition: 0.7s;
}
