.Inside {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 20%;
    left: 25%;
    border: solid;
    border-color: black;
    background-image: url("/img/houseicon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    color: black;
    line-height: 700px;
    text-align: center;
}

.Outside {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 20%;
    left: 55%;
    border: solid;
    border-color: black;
    background-image: url("/img/treesicon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 350px;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    color: black;
    line-height: 700px;
    text-align: center; 
}

.Back {
    width: 212px;
    height: 200px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    top: 5%;
    left: 5%;
    border: solid;
    border-color: black;
    background-image: url("/img/backarrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 125px;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    color: black;
    line-height: 350px;
    text-align: center;
    text-decoration: none;
}

.Info {
    width: 212px;
    height: 200px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    top: 5%;
    right: 5%;
    border: solid;
    border-color: black;
    background-image: url("/img/infoicon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 125px;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    color: black;
    line-height: 350px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.Inside:link {
    text-decoration: none;
}

/*.Outside:link {
    text-decoration: none;
}*/

.treeicon {
    width: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*.houseicon {
    width: 150px;
    position: absolute;
    top: 12%;
    left: 20%;
}*/

.Inside:hover {
    color: white;
    transition: 0.7s;
    background-image: url("/img/whouseicon.png");
}

.Outside:hover {
    color: white;
    transition: 0.7s;
    background-image: url("/img/wtreeicon.png");
}

.Back:hover {
    color: white;
    transition: 0.7s;
    background-image: url("/img/wbackarrow.png");
}

div{
    width: 400px;
    height: 400px;
}

.back {
    width: 212px;
    height: 200px;
}

.center {
    position: absolute;
    top: 33%;
    left: 75%;
}

.infodiv {
    width: 212px;
    height: 200px;
}

.infovid {
    width: 1200px;
    height: 660px;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 5%;
    left: 4%;
}

#click {
    display: none;
}

.content {
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,4);
    width: 1300px;
    height: 750px;
    background-color: #Ffcba4;
    position: fixed;
    top: 50%;
    left: 50%;
    border: solid
}

#click:checked ~ .content {
    opacity: 1;
    visibility: visible;
}

.close-btn {
    position: absolute;
    right: .1%;
    top: .1%;
    border: 2px solid #ff0000;
    border-radius: 3px;
    color: white;
    padding: 1px 10px;
    cursor: pointer;
    text-align: center;
    font-size: 45px;
    height: 75px;
    width: 75px;
    background: #ff0000;
}

    .close-btn:hover {
        background: white;
        color: #ff0000;
        transition: .7s;
    }

.Info:hover {
    color: white;
    transition: 0.7s;
    background-image: url("/img/winfoicon.png");
}

.exit {
    height: 75px;
    width: 75px;
}

.title {
    font-family: "Times New Roman", Times, serif;
    font-size: 80px;
    color: black;
    display: flex;
    justify-content: center;
}