.Inside {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 30%;
    left: 25%;
    border: solid;
    border-color: black;
    background-image: url("/img/houseicon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    color: black;
    line-height: 700px;
    text-align: center;
}

.Outside {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 30%;
    left: 60%;
    border: solid;
    border-color: black;
    background-image: url("/img/treesicon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 350px;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    color: black;
    line-height: 700px;
    text-align: center; 
}

.Inside:link {
    text-decoration: none;
}

.Outside:link {
    text-decoration: none;
}

.treeicon {
    width: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*.houseicon {
    width: 150px;
    position: absolute;
    top: 12%;
    left: 20%;
}*/

.Inside:hover {
    color: white;
    transition: 0.7s;
    background-image: url("/img/whouseicon.png");
}

.Outside:hover {
    color: white;
    transition: 0.7s;
    background-image: url("/img/wtreeicon.png");
}

div{
    width: 400px;
    height: 400px;
}