.Back {
    width: 212px;
    height: 225px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 50%;
    left: 10%;
    border: solid;
    border-color: black;
    background-image: url("/img/backarrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 175px;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    color: black;
    line-height: 380px;
    text-align: center;
    text-decoration: none;
}

.GPS {
    width: 212px;
    height: 225px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 50%;
    left: 40%;
    border: solid;
    border-color: black;
    background-image: url("/img/gpsicon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 175px;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    color: black;
    line-height: 380px;
    text-align: center;
    text-decoration: none;
}

.Back:hover {
    opacity: 0.7;
    transition: 0.7s;
}

.GPS:hover {
    opacity: 0.7;
    transition: 0.7s;
}

