.borderpruductpaginavideo {
    position:absolute;
    right: 0;
    left: 150px;
    top: 0;
    bottom: 0;
    margin:60px;
    border: 12px solid #F9BE79 ;
}
.gratis {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 7%;
    left: 73%;
    background-image: url("img/gratis.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 235px;
}
.gratis:hover {
    background-color: rgba(249, 190, 121, 0.5);
}
.betaald {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 7%;
    left: 42.5%;
    background-image: url("img/winkelwagen.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 225px;
}
.betaald:hover {
    background-color: rgba(249, 190, 121, 0.5);
}
.info {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-color: #Ffcba4;
    position: fixed;
    bottom: 7%;
    left: 12.5%;
    display: grid;
    align-items: center;
    background-image: url("img/info.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;

}
.info:hover {
    background-color: rgba(249, 190, 121, 0.5);
}
.infoicon{
    width: 600px;
    height: auto;
}