@model UserApplication.Models.Message
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/ContactPage.css">
</head>
<body>
   <a asp-action="StartPagina" asp-controller="Application" class="Back">
         <div>
             Terug
         </div>
    </a>
    <p class = "contact"> Telefoonnummer: 010 – 244 8240 <br>
        Locatie: Schommelstraat 69 <br>
        Postcode: 3035 CG Rotterdam <br>
    </p>

    <img src = "~/img/solicon.png" class = "sollogo"> 

    <form method="post" asp-action="ContactPage" asp-controller="Application">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="NameOfSender" class="Naam" placeholder="Type hier uw naam..."/> <!--form-control-->
        <span asp-validation-for="NameOfSender" class="text-danger"></span> 
         
        <input asp-for="PhoneNumber" class="Telefoonnummer" placeholder="Type hier uw telefoonnummer..." />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
       
        <input asp-for="MessageBody" class="textarea" placeholder="Type hier uw bericht..."/>
        <span asp-validation-for="MessageBody" class="text-danger"></span>


        <input type="submit" value="Versturen" class="verstuurknop"/>
    </form>


  @*  <textarea class = "E-mail" type = "Naam" placeholder = "Type hier uw naam..." required></textarea>
    <textarea class = "Telefoonnummer" type = "Telefoonnummer" placeholder = "Type hier uw telefoonnummer..." required></textarea>
    <textarea id = "my-text" rows = 5 placeholder = "Type hier uw bericht..."></textarea>*@
@*        <a asp-action="StartPagina" asp-controller="Application">
            <input type = "submit" class = "verstuurknop"></input> 
        </a>*@
@*    <div class = "container">
    </div>*@
</body>
</html>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }