@model Product
@{
    //loads db context into this page
    var _context = ViewBag.Context as ApplicationDbContext;
    if(_context != null)
    {
        // code to use _context
    }

}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/ProductOverzicht.css">
</head>
<body>
<p class = "title">Favorieten</p>
<div class="product-grid">
    <div class="product-box">
        <a asp-action="MainMenu" asp-controller="Application" class="terug">
            <div class="text1">
                Terug
            </div>
        </a>
    </div>
    
<ul id="favorites-list">
    <script>
        if (typeof window.localStorage !== 'undefined') {
            // localStorage is supported
        } else {
            // localStorage is not supported
        }

        if (typeof Storage !== "undefined") {
            for (var i = 0; i < localStorage.length; i++) {
                var key = localStorage.key(i);
                if (key.startsWith("favorited_")) {
                    var productId = key.substring(10);
                    var product = _context.Products.FirstOrDefault(x => x.Id == productId);
                    if (product != null) {
                        <li>@Model.Id</li>
                    }
                }
            }
        }
    }
    </script>
</ul>


    }
</div>
</body>