<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/FavorietenPagina.css">
</head>
<body>

<a asp-action="MainMenu" asp-controller="Application" class="terug">
    <div>
        Terug
    </div>
</a>


</body>
</html>