<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Gratis.css">
</head>
<body>
<p class = "title">Bij het klikken van een optie word je omgeleid naar een andere site!</p>
<a asp-action="MainMenu" asp-controller="Application" class="Back">
    <div>
        Terug
    </div>
</a>


<a href="https://mindfulness-nieuws.eu/mindfulness-app-vgz/" target="_blank" class="Mindfulness" >
    Mindfulness
</a>

<a href="https://www.medapp.nl/" target="_blank"  class="MedApp" >
    MedApp
</a>            

<a href="https://www.wandel.nl/wandelroutes/" target="_blank" class="Wandel" >
    Wandel.nl
</a>
<a href="https://www.mijnbreincoach.eu/" target="_blank" class="Brein" >
    Breincoach
</a>
<a href="https://www.voedingscentrum.nl/nl/thema/apps-en-tools-voedingscentrum/mijn-eetmeter-app-online.aspx" target="_blank" class="Eetmeter" >
    Eetmeter              
</a>

</body>
</html>