<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/InsideMenu.css">
</head>
<body>

    <a asp-action="MainMenu" asp-controller="Application" class="Back">
        <div>
            Terug
        </div>
    </a>


    <a asp-action="ProductInfo" class="Kitchen" asp-route-id="1">
         <div class = "text2">
             Keuken
         </div>
    </a>

    <a asp-action="ProductenOverzicht"  class="Bathroom" asp-route-id="2">
        
            <div class = "text3">
                Badkamer
            </div>
   </a>            

    <a asp-action="ProductOverzicht"  class="Livingroom" asp-route-id="3">
        
              <div class = "text4">
                       Woonkamer
              </div>
    </a>
    <a asp-action="ProductOverzicht" class="Bedroom" asp-route-id="4">
        
                  <div class = "text5">
                       Slaapkamers
                  </div>
    </a>
    <a asp-action="ProductOverzicht" class="Health" asp-route-id="5">
        
        <div class = "text6">
            Gezondheid
        </div>                     
     </a>

</body>
</html>
