
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/InsideMenu.css">
</head>
<body>
    <a asp-action="MainMenu" asp-controller="Application" class="Back">
        <div class = "text1">
            Terug
        </div>
    </a>

    <a asp-action="ProductBegin" asp-controller="Application" class="Kitchen">
          <div class = "text2">
                Keuken
          </div>
        </a>

   <a asp-action="MainMenu" asp-controller="Application" class="Bathroom">
            <div class = "text3">
                Badkamer
            </div>
   </a>            

    <a asp-action="MainMenu" asp-controller="Application" class="Livingroom">
              <div class = "text4">
                       Woonkamer
              </div>
    </a>
    <a asp-action="MainMenu" asp-controller="Application" class="Bedroom">
                  <div class = "text5">
                       Slaapkamers
                  </div>
    </a>
    <a asp-action="MainMenu" asp-controller="Application" class="Health">
        <div class = "text6">
            Gezondheid
        </div>                     
     </a>
</body>
</html>
