
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/MainMenu.css">
</head>
<body>
    <a asp-action="Insideproductmenu" asp-controller="Application" class="Inside">
        
        <img class = "houseicon" src="~/img/houseicon.png"/>
        Binnenproducten
    </a>
    <a asp-action="OutsideMenu" asp-controller="Application" class="Outside">
        
        <img class = "treeicon" src="~/img/treesicon.png"/>
        Buitenproducten
        
    </a>

</body>
</html>
