
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/MainMenu.css">
</head>
<body>
    <a asp-action="Insideproductmenu" asp-controller="Application" class="Inside">
        <div>
            Binnenproducten
        </div>
    </a>
    <a asp-action="OutsideMenu" asp-controller="Application" class="Outside">
        <div>
            Buitenproducten
        </div>   
    </a>
</body>
</html>
