
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/OutsideMenu.css">
</head>
<body>
     <a asp-action="Insideproductmenu" asp-controller="Application" class="Back">
             Terugg
         </a>
    <a asp-action="Insideproductmenu" asp-controller="Application" class="GPS">
            GPS
        </a>
</body>
</html>