<head>
    <link rel="stylesheet" type="text/css" href="~/css/ProductBegin.css">
</head>
<body>
    <div class="text-center">
        <iframe 
            class="borderpruductpaginavideo" width="1240" height="500" src="https://www.youtube.com/embed/wT9WivR6i1I" title="Beginvideo SOL" borderpruductpaginavideo="0">
        </iframe>
    </div>

    <info href="" class="info"></info>
    <betaald href="" class="betaald"></betaald>
    <gratis href="" class="gratis"></gratis>
</body>
</html>