<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/ProductBegin.css">
</head>
<body>
    <div class="text-center">
        <iframe 
            class="borderpruductpaginavideo" width="1305" height="575" src="https://www.youtube.com/embed/wT9WivR6i1I" title="Beginvideo SOL" borderpruductpaginavideo="0">
        </iframe>
    </div>


    <a asp-action="ProductBegin" asp-controller="Application" class="terug">
        <div>
            Terug
        </div>
    </a>


    <a asp-action="ProductBegin" asp-controller="Application" class="info">
        <div>
            Info
        </div>
    </a>
    <a asp-action="ProductBegin" asp-controller="Application" class="gratis">
    <div>
        Gratis
    </div>
</a>
    <a asp-action="ProductBegin" asp-controller="Application" class="favorieten">
    <div>
        Favorieten
    </div>
    </a>

</body>
</html>