<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/InsideMenu.css">
</head>
<body>

    <a asp-action="MainMenu" asp-controller="Application" class="Back">
        <div>
            Terug
        </div>
    </a>


    <a asp-action="ProductenOverzicht" class="Kitchen" asp-route-id="1">
        Keuken
    </a>

    <a asp-action="ProductenOverzicht"  class="Bathroom" asp-route-id="2">
        Badkamer
    </a>            

    <a asp-action="ProductenOverzicht" class="Livingroom" asp-route-id="3">
        Woonkamer
    </a>
    <a asp-action="ProductenOverzicht" class="Bedroom" asp-route-id="4">
        Slaapkamers
    </a>
    <a asp-action="ProductenOverzicht" class="GPS" asp-route-id="5">
        GPS                
     </a>

</body>
</html>
