
<body>
    <header>
        <a class="logo" href="/"><img src="img/sollogo.png" ></a>
        <nav>
            <ul class="nav__links">

            </ul>
        </nav>
        <a class="cta" href="#">Contact</a>
    </header>
    <div class="text-center">
        <iframe 
            class="borderbegin" width="1206" height="678" src="https://www.youtube.com/embed/wT9WivR6i1I" title="Beginvideo SOL" borderbegin="0">
        </iframe>
    </div>
         <a asp-action="MainMenu" asp-controller="Application" class="button1">START</a>
</body>